body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(218, 194, 109);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.instructions,
.input-selector,
.data-preview .h1 {
  justify-content: center;
  text-align: left;
  border: 1px solid rgb(0, 0, 0);
}

h2 {
  color: rgb(0, 0, 0);

}

ul {
  color: rgb(0, 0, 0);
  text-align: left;
}


table {
  border: 1px solid rgba(1, 91, 6, 0.645);
  color: rgb(0, 0, 0);


}

td,
th {
  border: 1px solid rgb(0, 0, 0);
  text-align: left;
  color: rgb(0, 0, 0);
}

.input {
  width: 90%;
  min-height: 60px;
  margin-left: 1px;
  margin-right: px;
  font-size: 21px;
  border: 2px solid #000000;
  color: #ffffff;
  background-color: #000000;
  border-radius: 8px;
  resize: both;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.report-box .input {
  width: 90%;
  min-height: 60px;
  margin-left: 1px;
  margin-right: px;
  font-size: 21px;
  border: 2px solid #431d1d;
  color: #000000;
  background-color: #908f8f;
  border-radius: 8px;
  resize: both;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}